@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Web Universdade</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo a Web Universidade</h2>
        <p>
            Esta aplicação é um simples exemplo tirado diretamente da documentação da Microsoft sobre Entity Framwork
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/silvioantonio/web-universidade">See project source code &raquo;</a></p>
    </div>
</div>
