

@model WebUniversidade.Models.Curso

@{
    ViewData["Title"] = "Cursos";
}

<div class="form-group">
    <label asp-for="CursoId" class="control-label"></label>
    <div>@Html.DisplayFor(model => model.CursoId)</div>
</div>